.app {
    display: flex;
    justify-content: center;
    overflow: auto;
    height: 100vh;
    .feed {
        display: flex;
        flex-direction: column;
        max-width: 33%;
        min-width: 50%;
        min-height: 100vh;
        border: 1px solid var(--border-color);
        border-top: none;
    }
}
