:root {
    --border-color: hsl(0 0% 0% / 0.1);
    --background-primary: #fff;
    --background-secondary: #f6f8fa;
    --secondary-hover: #ecf0f4;
    --flushed: rgba(0, 0, 0, 0.582);
    --brand: #215de7;
}

body {
    font-family: 'Poppins', sans-serif;
}
