$padding: 16px;
.backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.335);
    .modalOuter {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: space-around;
        padding: 60px 0;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        pointer-events: none;
        .modal {
            display: flex;
            flex-direction: column;
            border-radius: 0.3rem;
            background-color: white;
            pointer-events: all;
            .modalContent {
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 1 1 auto;
                flex-grow: 1;
                flex-shrink: 1;
                flex-basis: auto;
                padding: 0 $padding;
            }
            .modalFooter {
                display: flex;
                flex-direction: row-reverse;
                flex: 0 0 auto;
                flex-grow: 0;
                flex-shrink: 0;
                flex-basis: auto;
                padding: $padding;
                z-index: 1;
                overflow-x: hidden;
                background-color: rgb(209, 209, 209);
            }
        }
    }
}
