.sizeSmall {
    width: 440px;
    max-height: 660px;
    min-height: 200px;
}

.sizeMedium {
    width: 600px;
    max-height: 800px;
    min-height: 400px;
}

.sizeLarge {
    min-width: 800px;
    max-width: 960px;
    min-height: 400px;
}
@media (max-width: 35em) {
    .sizeLarge,
    .sizeMedium,
    .sizeSmall {
        min-width: auto;
        width: 96%;
        -ms-flex-item-align: center;
        align-self: center;
        max-height: 100vh;
    }
}
