.settings {
    display: grid;
    //IS THIS ALLOWED? IS THIS GONNA CAUSE ISSUES LATER?
    grid-template-columns: 0.2fr 1fr;
    justify-content: center;
    min-height: 100vh;
    padding: 1rem;
    .side {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        position: sticky;
        inset: 0;
        padding: 0 0.5rem;
    }
    .main {
        display: flex;
        .element {
            width: 100%;
        }
    }
}
