.sidebarFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
        background-color: var(--secondary-hover);
    }
    .dropdown {
        display: flex;
        align-items: center;
        gap: 1rem;
        .logo {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 3.2rem;
            width: 3.2rem;
            background-color: var(--brand);
            border-radius: 10px;
            overflow: hidden;
            .pfp {
                height: 100%;
                width: 100%;
            }
        }
        .text {
            .heading2 {
                font-weight: 500;
                font-size: 1rem;
            }
            .smolText {
                color: rgba(0, 0, 0, 0.582);
                font-size: 0.8rem;
            }
        }
    }
    .CaretDownThing {
        color: rgba(0, 0, 0, 0.582);
        cursor: pointer;
        margin-left: 1.5rem;
    }
}
//should probably make that a varialbe eh
